body {
  background-color: slategray;
}
#post {
  height: 100px;
  width: 50px;
  background-color: black;
  margin: auto;
}
#body {
  height: 300px;
  width: 125px;
  background-color: black;
  margin: auto;
  padding-top: 15px;
}
.light {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 10px;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
#green:hover {
box-shadow: 0px 0px 20px 20px rgba(0, 255, 0, .5)
}
#red:hover {
box-shadow: 0px 0px 20px 20px rgba(255, 0, 0, .5)
}
#yellow:hover {
box-shadow: 0px 0px 20px 20px rgba(255, 255, 0, 0.5)
}